
    <!-- dynamic content -->
    <div id="sb-dynamic-content" class="sb-transition-fade">

      <!-- banner -->
      <section class="sb-banner sb-banner-sm sb-banner-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title text-center">
                  <span class="sb-suptitle sb-mb-30">What we do</span>
                  <h1 class="sb-mb-30">There is no <span>love</span> more sincere <br> than the love of <span>food</span>.</h1>
                  <p class="sb-text sb-text-lg sb-mb-30">Serving you the RIGHT food, at the RIGHT time, from the RIGHT source...</p>
                  <ul class="sb-breadcrumbs">
                    <li><a href="home-1.html">Home</a></li>
                    <li><a href="#.">What we do</a></li>
                  </ul>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->



      <!-- In-House Corporate Catering -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <h2 class="sb-mb-30">In-House Corporate Catering<br> Elevate Your Team's Well-being</h2>
                <p class="sb-text sb-mb-30">
                Welcome to our in-house corporate catering service, where we seamlessly blend nutritious and delicious meals to enhance not just your team's sustenance but also their productivity. Our culinary experts craft menus that not only satisfy taste buds but also contribute to overall well-being. Imagine a workplace where the aroma of healthful meals inspires creativity and fosters a culture of wellness. From power-packed breakfasts to energizing lunches, our in-house corporate catering is designed to elevate your team's well-being, making every meal a delightful and nourishing experience.
              </p>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <!-- <img src="img/gallery/OfficeLunchDeliveries.jpg" alt="office lunch deliveries" class="sb-interior"> -->
                  <%= image_tag("gallery/1.jpg", alt: "office lunch deliveries") %>
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- In-House Corporate Catering end -->

      <!-- Event Catering -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <!-- <img src="img/gallery/EventCatering.jpg" alt="event catering" class="sb-interior"> -->
                  <%= image_tag("gallery/1.jpg", alt: "event catering") %>
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <h2 class="sb-mb-30">Event Catering <br> Fueling Your Occasions with Vitality and Flavor</h2>
                <p class="sb-text sb-mb-30">
                Transform your events into memorable experiences with our event catering service. We go beyond merely providing sustenance; we infuse vitality and flavor into every aspect of your gathering. Our health-focused catering not only tantalizes the taste buds but also nourishes both body and mind. Whether it's a corporate conference, a product launch, or a celebratory event, our culinary creations are tailored to meet the diverse tastes and dietary needs of your guests. Fuel your events with the goodness of wholesome, delectable meals that leave a lasting impression.
              </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Event Catering end -->


      <!-- Office Lunch Deliveries -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <h2 class="sb-mb-30">Office Lunch Deliveries<br> Taste Meets Wellness, One Bite at a Time</h2>
                <p class="sb-text sb-mb-30">
                Upgrade your office lunches with our health-focused deliveries that strike the perfect balance between taste and wellness. Our culinary team curates a diverse menu, ensuring that every bite is a flavorful journey into well-being. Imagine the convenience of having nutritious meals delivered right to your office, fostering a culture of health and satisfaction among your team. Whether it's a quick team meeting or a working lunch, our office lunch deliveries redefine the way you perceive workplace meals, making them a highlight of the day.
              </p>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <!-- <img src="img/gallery/office-lunch.jpg" alt="office lunch" class="sb-interior"> -->
                  <%= image_tag("gallery/1.jpg", alt: "office lunch") %>
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Office Lunch Deliveries end -->


      <!-- School Health Canteens Catering -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <!-- <img src="img/gallery/SchoolCanteen.jpg" alt="school canteens" class="sb-interior"> -->
                  <%= image_tag("gallery/1.jpg", alt: "school canteens") %>
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <h2 class="sb-mb-30">School Health Canteens<br> Transforming Lunches into Nutritious Adventures</h2>
                <p class="sb-text sb-mb-30">
                Embark on a journey of nutritious adventures with our health-focused canteens designed specifically for schools. We believe that young minds thrive on wholesome nourishment, and our school health canteens are dedicated to providing just that. Imagine a cafeteria where tasty choices meet nutritional excellence, transforming lunchtime into a positive and enriching experience for students. Our carefully crafted menus prioritize both flavor and health, ensuring that every meal contributes to the overall well-being and academic success of the next generation.
              </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- School Health Canteens end -->