    <!-- dynamic content -->
    <div id="sb-dynamic-content" class="sb-transition-fade">

      <!-- banner -->
      <section class="sb-banner sb-banner-sm sb-banner-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title text-center">
                  <span class="sb-suptitle sb-mb-30">Who We Are</span>
                  <h1 class="sb-mb-30">There is no <span>love</span> more sincere <br> than the love of <span>food</span>.</h1>
                  <p class="sb-text sb-text-lg sb-mb-30">Serving you the RIGHT food, at the RIGHT time, from the RIGHT source...</p>
                  <ul class="sb-breadcrumbs">
                    <li><a href="home-1.html">Home</a></li>
                    <li><a href="#.">Who We Are</a></li>
                  </ul>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->

      <!-- About text -->
      <section class="sb-p-90-0">
        <div class="sb-bg-2" style="margin-top: 90px">
          <div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-2 sb-mb-90">
                <div class="sb-interior-frame">
                  <%= image_tag("gallery/chef.jpg", class:"sb-interior", style: "object-position: center") %>

                </div>
                <div class="sb-square"></div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
                <div class="sb-experience">
                  <div class="sb-exp-content">
                    <p class="sb-h1 sb-mb-10">10</p>
                    <p class="sb-h3">Years Experience</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center sb-mb-60">
              <h2 class="sb-mb-60">Serving you the RIGHT food, <br>at the RIGHT time</h2>
              <p class="sb-text sb-mb-30">
                Pure Good is a health-focused contract catering company. From our humble beginnings as a health cafe near parliament, we've established ourself as a key player in in-house corporate catering. Feeding TBE Africa, The Ares Group, The Foschini Group, Workshop17 Watershed, The French Schools of Cape Town, Explore & Discover Motessori
              </p>
              <p class="sb-text sb-mb-60">
                 From achieving finalist status on MasterChef SA to founding a flourishing corporate catering company, Pure Good founder Shannon Brauer has spent half of her life in the kitchen. The other half? Advancing the philosophy of Conscious Capitalism through her close relationship with small scale community farmers which happens to be how Pure Good was born. Our menus are designed to allow maximum usage of available vegetables & produce from local, small-scale farming communities, making them 100% sustainable and minimising food waste as much as possible. 
              </p>
              <!-- <img src="img/ui/signature.png" alt="Signature" class="sb-signature sb-mb-30"> -->
            </div>
          </div>
        </div>
      </section>
      <!-- About text end -->

      <!-- features -->
      <section class="sb-features sb-p-0-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">01</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">FARM TO FORK</h3>
                  <p class="sb-text">
                     We keep our friends close and our farmers closer: Pure Good's partnership with the Umthunzi Farming Community, Beleaf Growers & Ekasi Project Green allows us to create an ethical, nutrient-dense menu built entirely around what grows organically and in abundance on the farms. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">02</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">PURPOSE OVER PROFIT</h3>
                  <p class="sb-text">
                    We believe that doing good is good for business. Because social development is equally as important to us as business development, our strategy is defined by a purpose that goes far beyond profit.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">03</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">ATTAINABLE HEALTH</h3>
                  <p class="sb-text">
                     We are passionate about making real food available to real people. Eating ethically and organically shouldn't break the bank, which is why our wholesome, nutritious menu is intelligently designed to get you the most bang for your buck. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">04</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">CORPORATE WELLNESS</h3>
                  <p class="sb-text">
                    We believe that every time you eat is an opportunity to nourish your body, and nowhere is this philosophy more rewarding than in your work environment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features end -->

      <!-- video -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="sb-mb-90">
                <span class="sb-suptitle sb-mb-15">Promo video</span>
                <h2 class="sb-mb-30">Restaurant is like a theater.<br> Our task is to amaze you!</h2>
                <p class="sb-text sb-mb-30">Our company values are what guide us as we strive to be the best, to fulfill our goal to pioneer sustainable food solutions in the catering world and to align every decision we make as a team.</p>
                <!-- button -->
                <a data-fancybox="" data-no-swup href="https://www.youtube.com/watch?v=tsz6IpM5OPY" class="sb-btn">
                  <span class="sb-icon">
                    <img src="img/ui/icons/play.svg" alt="icon">
                  </span>
                  <span>Promo video</span>
                </a>
                <!-- button end -->
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="img/illustrations/interior-2.jpg" alt="interior" class="sb-interior">
                  <a data-fancybox="" data-no-swup href="https://www.youtube.com/watch?v=tsz6IpM5OPY" class="sb-video-play"><i class="fas fa-play"></i></a>
                </div>
                <div class="sb-cirkle-1"></div>
                <div class="sb-cirkle-2"></div>
                <div class="sb-cirkle-3"></div>
                <div class="sb-cirkle-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- video end -->

      <!-- team -->
      <section class="sb-team sb-p-0-60">
        <div class="sb-bg-2">
          <div></div>
        </div>
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
              <h2 class="sb-mb-30">They will <span>cook</span> for you</h2>
              <!-- <p class="sb-text">Consectetur numquam poro nemo veniam<br>eligendi rem adipisci quo modi.</p> -->
            </div>
            <div class="sb-right sb-mb-30">
              <!-- button -->
              <a href="menu-1.html" class="sb-btn sb-m-0">
                <span class="sb-icon">
                  <img src="img/ui/icons/menu.svg" alt="icon">
                </span>
                <span>What We Do</span>
              </a>
              <!-- button end -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <!-- <img src="img/team/1.png" alt="Team member"> -->
                  <%= image_tag("team/1.png", alt:"team member") %>
                </div>
                <div class="sb-member-description">
                  <h3 class="sb-mb-10">Cecilia Hans</h3>
                  <p class="sb-text sb-text-sm sb-mb-10">TBE Dock Road Manager</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <%= image_tag("team/2.png", alt:"team member") %>
                </div>
                <div class="sb-member-description">
                  <h3 class="sb-mb-10">Lungi Bazi</h3>
                  <p class="sb-text sb-text-sm sb-mb-10">Workshop17 Site Manager</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-team-member sb-mb-30">
                <div class="sb-photo-frame sb-mb-15">
                  <%= image_tag("team/3.png", alt:"team member") %>
                </div>
                <div class="sb-member-description">
                  <h3 class="sb-mb-10">Malwande</h3>
                  <p class="sb-text sb-text-sm sb-mb-10">Workshop17 Barista</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- team end -->

      <!-- revievs -->
      <section class="sb-reviews sb-p-0-90">
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
              <h2 class="sb-mb-30">What <span>Our</span> Customers Say</h2>
              <!-- <p class="sb-text">Consectetur numquam poro nemo veniam<br>eligendi rem adipisci quo modi.</p> -->
            </div>
            <div class="sb-right sb-mb-30">
              <!-- slider navigation -->
              <div class="sb-slider-nav">
                <div class="sb-prev-btn sb-reviews-prev"><i class="fas fa-arrow-left"></i></div>
                <div class="sb-next-btn sb-reviews-next"><i class="fas fa-arrow-right"></i></div>
              </div>
            </div>
          </div>
          <div class="swiper-container sb-reviews-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">Great food with an even better story!</h4>
                    <ul class="sb-stars">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="sb-text sb-mb-15">We are lucky enough to have Pure Good Food as the cafe operator at our office. At Pure Good, you are always greeted with a friendly smile from your morning coffee, to your delicious lunch and even that afternoon sweet treat. The food served is fresh, healthy and great value for money. And everything comes from local suppliers too! Great food with an even better story!</p>
                  <div class="sb-author-frame">
                   <!--  <div class="sb-avatar-frame">
                      <img src="img/faces/1.jpg" alt="Guest">
                    </div> -->
                    <h4>Laura Munch - Workshop17 Watershed Site Manager</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">The menu is tasty</h4>
                    <ul class="sb-stars">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="sb-text sb-mb-15">Everyone in the office has become a Workshop17 Cafe regular, the menu is tasty, healthy and affordable and offers enough variety that packed lunches have become a thing of the past. Not to mention consistently great coffee and some of the friendliest staff in town... a worthy go-to!</p>
                  <div class="sb-author-frame">
                   <!--  <div class="sb-avatar-frame">
                      <img src="img/faces/2.jpg" alt="Guest">
                    </div> -->
                    <h4>Matt Turner - Tesla Energy Products: Workshop17</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">Great service</h4>
                    <ul class="sb-stars">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="sb-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="sb-text sb-mb-15">Our team members love having healthy food options available to them. Pure Good gives them variety in terms of juices, smoothies, salads and wraps easy, healthy food that's affordably priced.</p>
                  <div class="sb-author-frame">
                    <!-- <div class="sb-avatar-frame">
                      <img src="img/faces/3.jpg" alt="Guest">
                    </div> -->
                    <h4>Senta Morley, Group Director - TFG Human Resources</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">PureGood is amazing!</h4>
                    <ul class="sb-stars">
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                  <p class="sb-text sb-mb-15">Not only does our office get to enjoy the delicious lunches & juices delivered to us daily, but my wife & I love getting epic freezer meals from Pure Good too, as they are exceptionally affordable and super convenient, wholesome delicious home-cooked meals. A game changer for week night dinners.</p>
                  <div class="sb-author-frame">
                   <!--  <div class="sb-avatar-frame">
                      <img src="img/faces/4.jpg" alt="Guest">
                    </div> -->
                    <h4>Jayden Cohen - National Sales Manager: Ozow</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- revievs end -->