      <!-- info bar -->
      <div class="sb-info-bar">
        <div class="sb-infobar-content">
          <div class="sb-ib-title-frame sb-mb-30">
            <h4>Contact</h4><i class="fas fa-arrow-down"></i>
          </div>
          <ul class="sb-list sb-mb-30">
            <li><b>Address:</b><span> Workshop17, Watershed, 17 Dock Road, V&A Waterfront, 8002</span></li>
            <li><b>Working hours:</b><span>09:00 - 23:00</span></li>
            <li><b>Phone:</b><span>+02 (044) 756-X6-52</span></li>
            <li><b>Email:</b><span>info@puregood.co.za</span></li>
          </ul>
          <div class="sb-ib-title-frame sb-mb-30">
            <h4>Instagram</h4><i class="fas fa-arrow-down"></i>
          </div>
          <ul class="sb-instagram sb-mb-30">
            <li><a href="#."><img src="img/instagram/1.jpg" alt="instagram"></a></li>
            <li><a href="#."><img src="img/instagram/2.jpg" alt="instagram"></a></li>
            <li><a href="#."><img src="img/instagram/3.jpg" alt="instagram"></a></li>
            <li><a href="#."><img src="img/instagram/4.jpg" alt="instagram"></a></li>
            <li><a href="#."><img src="img/instagram/5.jpg" alt="instagram"></a></li>
            <li><a href="#."><img src="img/instagram/6.jpg" alt="instagram"></a></li>
          </ul>
          <hr>
          <div class="sb-ib-title-frame sb-mb-30">
            <h4>Latest publications</h4><i class="fas fa-arrow-down"></i>
          </div>
          <a href="index.html" class="sb-blog-card sb-blog-card-sm sb-mb-30">
            <div class="sb-cover-frame">
              <img src="img/blog/1.jpg" alt="cover">
            </div>
            <div class="sb-blog-card-descr">
              <h5 class="sb-mb-5">Simple Homemade Tomato Soup</h5>
              <p class="sb-text sb-text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio, sed expedita.</p>
            </div>
          </a>
          <a href="index.html" class="sb-blog-card sb-blog-card-sm sb-mb-30">
            <div class="sb-cover-frame">
              <img src="img/blog/2.jpg" alt="cover">
            </div>
            <div class="sb-blog-card-descr">
              <h5 class="sb-mb-5">Thai Coconut Soup with Tofu and Rice</h5>
              <p class="sb-text sb-text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio, sed expedita.</p>
            </div>
          </a>
          <a href="index.html" class="sb-blog-card sb-blog-card-sm sb-mb-30">
            <div class="sb-cover-frame">
              <img src="img/blog/3.jpg" alt="cover">
            </div>
            <div class="sb-blog-card-descr">
              <h5 class="sb-mb-5">21 Things You Should Absolutely Be Buying at ALDI</h5>
              <p class="sb-text sb-text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio, sed expedita.</p>
            </div>
          </a>
        </div>
        <div class="sb-info-bar-footer">
          <ul class="sb-social">
            <li><a href="#."><i class="far fa-circle"></i></a></li>
            <li><a href="#."><i class="far fa-circle"></i></a></li>
            <li><a href="#."><i class="far fa-circle"></i></a></li>
            <li><a href="#."><i class="far fa-circle"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- info bar end -->
    </div>
    <!-- top bar end -->

    <!-- dynamic content -->
    <div id="sb-dynamic-content" class="sb-transition-fade">

      <!-- banner -->
      <section class="sb-banner sb-banner-sm sb-banner-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- main title -->
              <div class="sb-main-title-frame">
                <div class="sb-main-title text-center">
                  <span class="sb-suptitle sb-mb-30">Work with us</span>
                  <h1 class="sb-mb-30">There is no <span>love</span> more sincere <br> than the love of <span>food</span>.</h1>
                  <p class="sb-text sb-text-lg sb-mb-30">As a leading health-focused catering company, we are dedicated to crafting culinary experiences that elevate both body and mind.</p>
                  <ul class="sb-breadcrumbs">
                    <li><a href="./">Home</a></li>
                    <li><a href="./workwithus">Work with us</a></li>
                  </ul>
                </div>
              </div>
              <!-- main title end -->
            </div>
          </div>
        </div>
      </section>
      <!-- banner end -->

      <!-- features -->
      <section class="sb-features sb-p-0-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">01</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Why Work With Us:</h3>
                  <p class="sb-text">
                    At PureGood, we are always on the lookout for like-minded partners who share our passion for health and sustainability. If you're a dedicated produce supplier committed to quality or an individual seeking meaningful work opportunities, contact us!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">02</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">SUPPLIER PARTNERSHIPS:</h3>
                  <p class="sb-text">
                    We source only the finest, locally-sourced ingredients to create our nutritious and delicious menus. If you're a supplier who values quality and sustainability, we invite you to join hands with Pure Good in our mission to nourish lives through exceptional food.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">03</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Career Opportunities:</h3>
                  <p class="sb-text">
                    Are you passionate about health, wellness, and the culinary arts? Pure Good offers exciting career opportunities for individuals who are dedicated to making a positive impact through their work. Explore the possibilities and join a team that values innovation, creativity, and a commitment to well-being.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">04</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Contact Us!</h3>
                  <p class="sb-text">
                    If you're enthusiastic about contributing to a health-focused culinary revolution, we want to hear from you! Send your CV to lauren@puregood.co.za and let's explore how your skills and passion can be a perfect fit for the Pure Good family.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features end -->

      <!-- popular -->
      <section class="sb-popular sb-p-60-30">
        <div class="sb-bg-3">
        </div>
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
              <h2 class="sb-mb-30">Work <span>with</span> us</h2>
              <p class="sb-text">As a leading health-focused catering company, we are dedicated to crafting culinary experiences that elevate both body and mind.</p>
            </div>
          </div>
          <div class="swiper-container sb-blog-slider-3i">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="./operations-manager" class="sb-blog-card sb-mb-30">
                  <div class="sb-cover-frame sb-mb-30">
                    <img src="img/blog/1.jpg" alt="cover">
                  </div>
                  <div class="sb-blog-card-descr">
                    <h3 class="sb-mb-10">Operations Manager - Pure Good Food</h3>
                    <div class="sb-suptitle sb-mb-15"><span>Location:</span> <span>Cape Town, South Africa</span></div>
                    <div class="sb-suptitle sb-mb-15"><span>Job type:</span> <span>Full-Time, On-Site</span></div>

                    <p class="sb-text">Manage and oversee the daily operations of on-site cafeterias, ensuring efficiency and adherence to service standards.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- popular end -->